/* Styles for the entire search bar container */
.search-menu {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

/* Add these styles for the search results menu */
.searchResultsMenu {
  position: fixed;
  top: 40px;
  right: 84.94px;
  width: 201.33px;
  background-color: rgb(207, 207, 207);
  z-index: 1000;
  max-height: 306.67px;
  overflow-y: auto;
  display: none;
  color: #323232;
  font-size: 12px;
}

.searchResultsMenu.active {
  display: block;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Hide overflow content */
}

.search-results li {
  margin: 0;
  display: block;
  overflow: hidden; /* Hide overflow content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
}

.search-results li a {
  display: block; /* Ensure the anchor takes full width within the li */
  padding: 8px; /* Add padding for better visual appearance */
  text-decoration: none; /* Remove underlines from the links */
  color: inherit; /* Inherit the color from parent */
}

.search-results li a:hover {
  background-color: #5a5a5a;
  color: white; /* Change text color on hover for better visibility */
}

/* Styles for the search bar and button container */
.search-bar-container {
  margin: 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  height: auto; /* Allow container to adjust its height based on content */
}

form {
  display: flex;
  justify-content: space-between;
  height: 100%; /* Take up the full height of the search bar container */
}

.search-bar {
  margin-left: 5px;
  border: none;
  height: 100%; /* Take up the full height of the form */
}

.search-button {
  border: none;
  cursor: pointer;
  margin-right: 2px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.search-button {
  align-items: center;
}

.search-bar:focus {
  outline: none; /* Remove the default focus outline */
  border-color: transparent; /* Set the border color to transparent */
  box-shadow: none; /* Remove any box shadow */
}

.search-button {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 100%;
}
