* {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
  color: #323232;
}

.App > div {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

nav .leftSide,
nav .rightSide {
  display: flex;
  justify-content: space-between;
}
nav div ul li {
  margin: 6px 10px 10px 10px;
  display: inline-block;
  list-style-type: None;
}

nav div ul li a {
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  text-decoration: None;
}

.centered-li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div ul li a:hover {
  list-style-type: underline;
}

nav div ul li a:visited {
  color: #323232;
}
/* Underline */
.underline-list {
  list-style: none;
  padding: 0;
}

.underline-transition {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: #000; /* Set link color */
}

.underline-transition::before {
  content: "";
  position: absolute;
  bottom: -1px; /* Position the line right below the text */
  left: 0;
  width: 0;
  height: 2px; /* Set the line height */
  background-color: black; /* Change this to your desired underline color */
  transition: width 0.3s ease; /* Transition the width property for the animation */
}

.underline-transition:hover::before {
  width: 100%; /* Expand the line to 100% width on hover */
}

/* Artist Page */

.artist-main-section {
  display: flex; /* Make the container a flex container */
}
.artist-page hr {
  border: none; /* Removes the default styling */
  border-top: 1px solid #ccc; /* Adds a horizontal border on top */
}

.artist-main-section .artist-side-bar {
  width: 250px; /* Set the width of the sidebar */
  padding: 20px; /* Add some padding for content inside the sidebar */
}

.artist-main-section .album-section {
  flex: 1; /* Allow the main content to expand and fill the remaining space */
  padding: 20px; /* Add some padding for content inside the main section */
}

.artist-section .artist-img {
  width: 200px;
}

/* Style for the sorting container */
.artist-section {
  display: flex;
  justify-content: space-between;
  padding: 20px; /* Add padding for spacing */
}

.artist-image {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally and vertically */
  margin-right: 30px; /* Adjust margin for spacing */
}

.artist-image h2 {
  margin-top: 10px; /* Add margin between image and heading */
}

.artist-details p {
  font-size: 17px;
  margin: 5px 0; /* Add vertical spacing between paragraphs */
}

.artist-name {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Create even spacing between text and logo */
  font-size: 20px; /* Adjust the font size as needed */
}

.spotify-link {
  margin-top: 5px;
}

.album-head-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sorting-dropdown {
  text-align: right;
  background-color: #f0f0f0;
}

/* Style for the sorting label */
.sorting-dropdown label {
  font-weight: bold;
}

/* Style for the sorting select element */
.sorting-dropdown select {
  padding: 5px;
  border-radius: 4px;
}

/* Style for option items in the dropdown */
.sorting-dropdown select option {
  font-weight: normal;
}

.album-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.album {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.album h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album p {
  font-size: 11px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album img {
  width: 100%;
  height: auto;
}

.album img:hover {
  cursor: pointer;
}

/* Styles for the entire search bar container */
.searchBar {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

/* Add these styles for the search results menu */
.searchResultsMenu {
  position: fixed;
  top: 40px;
  right: 89.26px;
  width: 201.33px;
  background-color: rgb(207, 207, 207);
  z-index: 1000;
  max-height: 306.67px;
  overflow-y: auto;
  display: none;
  color: #323232;
  font-size: 12px;
}

.searchResultsMenu.active {
  display: block;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Hide overflow content */
}

.search-results li {
  margin: 0;
  display: block;
  overflow: hidden; /* Hide overflow content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
}

.search-results li a {
  display: block; /* Ensure the anchor takes full width within the li */
  padding: 8px; /* Add padding for better visual appearance */
  text-decoration: none; /* Remove underlines from the links */
  color: inherit; /* Inherit the color from parent */
}

.search-results li a:hover {
  background-color: #5a5a5a;
  color: white; /* Change text color on hover for better visibility */
}

/* Styles for the search bar and button container */
.search-bar-container {
  margin: 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  height: auto; /* Allow container to adjust its height based on content */
}

form {
  display: flex;
  justify-content: space-between;
  height: 100%; /* Take up the full height of the search bar container */
}

.search-bar {
  margin-left: 5px;
  border: none;
  height: 100%; /* Take up the full height of the form */
}

.search-button {
  border: none;
  cursor: pointer;
  margin-right: 2px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.search-button {
  align-items: center;
}

.search-bar:focus {
  outline: none; /* Remove the default focus outline */
  border-color: transparent; /* Set the border color to transparent */
  box-shadow: none; /* Remove any box shadow */
}

.search-button {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 100%;
}

/* Loading */

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text horizontally */
}

.loading p {
  font-size: 30px;
  font-weight: bold;
}
